[Unit]
Description=Anonymizing Overlay Network
After=network.target

[Service]
User=tor
Group=tor
Type=forking
PrivateTmp=yes
ExecStartPre=+/usr/bin/mkdir -p /var/run/tor
ExecStartPre=+/usr/bin/cp /etc/tor/torrc /var/run/tor
ExecStartPre=+/usr/bin/chmod a-wx,go-rwx /var/run/tor/torrc
ExecStartPre=+/usr/bin/chown -R tor:tor /var/run/tor
ExecStartPre=+/usr/bin/touch /var/log/tor.log
ExecStartPre=+/usr/bin/chgrp tor /var/log/tor.log
ExecStartPre=+/usr/bin/chmod 664 /var/log/tor.log
ExecStart=/usr/bin/tor -f /var/run/tor/torrc
ExecReload=/usr/bin/kill -HUP $MAINPID
PIDFile=/var/run/tor/tor.pid
KillSignal=SIGINT
LimitNOFILE=8192
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
